.logo{
    margin-left: 130px;
    height:20px;
    width: auto;
}
.user-icon{
    height:21px;
    width: 19px;
    margin-right: 150px;
    padding-top: 29px;
}
.frescalogo{
    align-items: center;
    width: 120px;
    height: 68px;
    padding-top: 16px;
    padding-left: 700px;
}
.products{
    border-radius: 18px;
    overflow: hidden;
    width: 1190px;
    height: 620px;   
}
.p1{
    height: 100px;
    width: 1099px;
    margin-left: 70px;
    margin-top: -70px; 
}
.p1 img{
    max-width: 100%;
    max-height: 1100px;
}
.p2{    
    height: 90px;
    width: 1250px;
    margin-right: 200px;
    margin-top: -95px;
}
.p2 img{
    max-width: 100%;
    max-height: 1100px;
}
.p3{
    height: 100px;
    width: 1099px;
    margin-left: 70px;
    margin-top: -550px; 
}
.p3 img{
    max-width: 100%;
    max-height: 1100px;
}
.p4{
    height: 90px;
    width: 1250px;
    margin-right: 200px;
    margin-top: -95px;
}
.p4 img{
    max-width: 100%;
    max-height: 1100px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 150px;
    padding-top: 58px;
    justify-content:space-between;
    margin-left: 600px;
}
.social-icons img{
    border: 2px solid white; /* Add a white border */
    border-radius: 90%; /* Make the border circular */
}
.footerlogo{
    padding-left: 170px;
    padding-top: 60px;
}
.social-icons-footer{
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 250px;
    justify-content:space-between;
    margin-right: -780px;    
}
.social-icons-footer img{
    border: 2px solid white; /* Add a white border */
    border-radius: 90%; /* Make the border circular */
}